<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="./style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    </head>
    <body>
        <h1>Googol Translate</h1> 
        <div id="container">
            <div id="options">
                <div class="left">English</div>
                <div class="right">
                    <select id="voice" name="voice">
                       <option value="Caveman">Caveman</option>
                       <option value="5 year old">5 year old</option> 
                       <option value="Dr. Seuss">Dr. Seuss</option> 
                       <option value="Gladiator">Gladiator</option> 
                       <option value="Posh gentleman">Posh</option> 
                       <option value="Gen Z">Gen Z</option> 
                       <option value="Summarized">Summarized</option> 
                       <option value="Long and convoluted">Convoluted</option> 
                    </select>
                </div>
            </div>


                        <!-- hx-post="http://api.googoltranslate.com/translator" -->
            <div id="content" >
                <div class="left text-area-container">
                    <textarea id="input" 
                        name="text"
                        oninput='this.style.height = "";
                            this.style.height = 
                            this.scrollHeight + "px"' 
                        autofocus="true"
                        hx-post="https://kdyg2j4409.execute-api.eu-west-2.amazonaws.com/release/translator"
                        hx-headers='{
                            "Accept": "text/html",
                            "Content-Type": "application/json",
                            "Access-Control-Allow-Origin": "*",
                            "Access-Control-Allow-Methods": "POST,OPTIONS"
                        }'
                        hx-trigger="input changed delay:1000ms, input changed delay:1000ms from:select#voice"
                        hx-target="#output"
                        hx-swap="innerHTML"
                        hx-include="#voice"
                        hx-ext="json-enc";
                        hx-indicator="#loading-indicator"
                        ></textarea>
                </div>

                <div class="right text-area-container">
                    <span id="output"></span>
                    <img id="loading-indicator" 
                    class="htmx-indicator" 
                    src="./loading.svg"/>
                </div>
            </div>


        </div>
    </body>
</html>
