$bg1: white;
$bg2: #f5f5f5;
$line1: #e0e0e0;
$accent: #1a73e8;

*,
*::before,
*::after {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    border-bottom: 1px solid $line1;
    padding: 1rem;
    margin-bottom: 2rem;
}

body {
    background: $bg1;
}

#container {
    max-width: 80rem;
    margin: auto;
}

#options {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    color: $accent;
    margin-bottom: 1rem;
    * {
        text-align: center;
        font-weight: bold;
    }
}

#options .right select {
    // appearance: none;
    background-color: transparent;
    border: none;
    // border: 1px solid $line1;
    padding: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: $accent;
    option {
        color: $accent;
    }
}





#content {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    * {
        flex: 1 0 20rem;
    }
}


.text-area-container {
    padding: 1rem;
    &.right {
        border: 1px solid $line1;
        border-radius: 0.5rem;
    }
    &.left {
        background: $bg2;
        border-radius: 0.5rem;
    }
}


textarea {
    width: 100%;
    resize: none;
    font-size: 2rem;
    background: none;
    border: none;
    font-family: sans-serif;
    &:focus {
        outline: none !important;
    }
}
